* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:active, a:hover {
    outline: 0px;
}

abbr, acronym {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: #ffffff;
    font-family: Helvetica, Arial;
    line-height: 1.42857143;
    color: #272727;
    margin: 0;
}

a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/*解决ios系统中元素被触摸时产生的半透明灰色遮罩*/
a, button, div {
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none
}

/*解决ios系统中a元素被触摸时产生暗色边框*/
.css {
    -webkit-appearance: none;
}

/*webkit表单元素的默认外观重置*/
/*input, textarea {*/
/*border: 0;*/
/*-webkit-appearance: none;*/
/*outline: none;*/
/*}*/

/*在iOS上，输入框默认有内部阴影*/

/*返回首页的按钮*/
.goHome {
    position: fixed;
    border-radius: 50%;
    bottom: 50px;
    right: 15px;
    opacity: 0.3;
    border: 1px solid #4EAA4C;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;

}

